* {
    margin: 0;
    padding: 0;
}
/* configurações do header */
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #7b7a7acb;
    overflow-x: hidden;
}
header {
    width: 100%;
    background-color: rgb(179, 179, 179);
    padding: 5px;
    text-align: center;
}
menu {
    display: none;
}
menu li{
    display: block;
    margin: 2px;
    background-color: rgb(60, 60, 60);
}
menu a {
    list-style: none;
    text-decoration: none;
    color: white;
}
main {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    width: 440px;
    margin: 40px auto;
    padding: 5px;
}
menu li:hover {
    background-color: rgba(136, 136, 136, 0.462);
}
main h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
/* configurações do burguer */
#burguer {
    background-color: rgb(0, 0, 0);
    display: block;
    color: white;
}
#burguer:hover {
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: black;
}
#content h1 {
    margin: auto;
    font-size: 25px;
}
#content {
    display: none;
    flex-direction: column;
    margin: 25px auto;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    background-color: rgb(92, 92, 92);
}
.box {
    border: solid 1px black;
    width: 300px;
    margin: 10px auto;
    background-color: white;
    padding: 5px;
    border-radius: 7.5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
#main p {
    opacity: 1.2;
    margin: 10px;;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: justify;
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(211, 0, 0);
}
a.btn {
    display: block;
    width: 200px;
    background-color: rgb(3, 126, 1);
    color: white;
    padding: 5px;
    border: 1px solid rgb(61, 255, 47);
    border-radius: 7.5px;
    text-decoration: none;  
    margin: 15px 45px;
    text-align: center;
}
a.btn:hover {
    transition: 0.5s;
    background-color: rgb(0, 100, 0);
    box-shadow: 1px 1px 10px rgb(46, 255, 63);
    border: none;
    color: white;
}
#hidden {
    color: white;
    display: block;
}
#exibe {
    color: white;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btnn {
    margin: 10px 5px 10px 10px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: rgb(51, 0, 255);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    color: rgb(84, 84, 84);
}
.btnn:hover {
    transition: 0.5s;
    background-color: rgb(0, 8, 120);
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
/* media queries */
@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu ul li {
        padding: 5;
        display: inline-block;
    }
    menu ul li a {
        padding: 10px;
    }
    menu li {
        padding: 5px;
        border-radius: 7.5px;
    }
    header {
        text-align: left;
    }
    main {
        width: 60vw;
    }
}